<div class="container">
  <h1>Overview of all users</h1>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User email</th>
          <th scope="col">Role</th>
          <th scope="col">Change role</th>
        </tr>
      </thead>
      <tbody>
        <% User.all.order("admin desc").each do |user| %>
          <tr>
              <td scope="col"><%= user.email %></td>
              <td scope="col">
                <%= user.admin ? "Admin" : "Student" %>
              </td>
              <td scope="col">
                <a id="user-<%= user.id %>" class="toggle_role btn-sm" type="button">Make <%= !user.admin ? "Admin" : "Student" %></a>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
