
  <div class="header clearfix">

    <div class="jumbotron text-center">
      <h1>Overview of registered users</h1>
      <p class="lead">Here you can see the users and change their role</p>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>User email</th>
          <th>Role</th>
          <th>Change role</th>
        </tr>
      </thead>
      <tbody>
        <% User.all.order("admin desc").each do |user| %>
          <tr>
              <td><%= user.email %></td>
              <td>
                <%= user.admin ? "Admin" : "Student" %>
              </td>
              <td>
                <a id="user-<%= user.id %>" class="toggle_role btn-sm" type="button">
                  Make <%= user.admin ? "Student" : "Admin" %>
                </a>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
