<div class="container">

  <div class="header clearfix">

    <div class="jumbotron">
      <h1>Welcome to Burning Match test page</h1>
      <p class="lead">Want to match your students?</p>
    </div>

    <% @match_dates = Match.select("date").group("date").order("date desc") %>
    <table class="table" style="width:100%;">
      <thead>
        <tr>
          <td style="width:10%;">Date</td>
          <td style="width:70%;">Matches</td>
        <tr>
      </thead>
      <tbody>

      <!-- A lot of this functionality has to be moved to Match controller -->
      <!-- Something like Mark.get_matches(match_date) -->
      <!-- And implement something like student1.name method -->

      <% @match_dates.each do |match_date| %>

        <% show_date    = match_date.date %>
        <% match = Match.new %>
        <% show_matches = match.get_matched(show_date) %>
        <tr>
          <td><%= show_date.strftime("%d-%m-%Y") %></td>
          <td><%= show_matches %></td>
        </tr>

    <% end %>
    </tbody>
  </table>

  </div>

  <footer class="footer">
    <p>&copy; 2018 Burning Match, Inc.</p>
  </footer>

</div> <!-- /container -->
